/*vue披风*/
[v-cloak] {
    display: none;
}

html,body{
    height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    cursor: pointer;
    margin: 0;
    padding: 0;
    list-style: none;
}