body{
    margin:0;
    padding: 0;
    background-color: #f5f5f5;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
nav{
    background-color: #232323;
}
.logo{
    width: 180px;
    height: 100%;
}
.search{
    width: 150px;
    height: 10px;
    margin-left: 100px;
    padding: 10px 15px;
    border: 0px solid #ffffff;
    border-radius: 32px;
    outline: none;
}
nav ul{
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #232323;
    white-space: nowrap;
}
nav ul .ToneNav{
    position: relative;
    height: 100%;
    line-height: 500%;
    border: 0px solid;
    text-align: center;
    font-size: .8em;
    padding: 0 20px;
}
.icon{
    position: absolute;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-color:transparent transparent #c20d0a transparent;
    bottom: 0;
    left: 44%;
}
nav a{
    outline: none;
    color: #ffffff;
}
.creater{
    width: 100px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid lightgray;
    background-color: #232323;
    color: #ffffff;
    border-radius: 32px;
    outline: none;
}
.login{
    outline: none;
    margin-left: 30px;
    border: 0px solid #232323;
    background-color: #232323;
    color: #ffffff;
}
.active{
    background-color: #000000;
}